 <!--==========================
      Nosotros
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Nosotros</h3>
            <p>En Kyoto nos especializamos en fabricar y diseñar prendas de indumentaria inspiradas en la cultura japonesa y cat friendly.</p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                En el año 2017 lanzamos Kyoto, una marca de indumentaria que reúne nuestras dos pasiones: la cultura Japonesa y nuestros amigos Felinos. Desde ese año nos acercamos a jóvenes que eligen nuestros productos, con quienes compartimos estos intereses. 
              </p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <h4 class="title"><a href="">Respeto a cuerpos diversos</a></h4>
                <p class="description">Procuramos fabricar remeras y buzos en una amplia variedad de talles, desde el XS al 5XL</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                <h4 class="title"><a href="">Innovación</a></h4>
                <p class="description">Siempre pensamos en crear nuevos modelos, y estamos atentos a las tendencias e intereses de nuestros seguidores y clientes.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                <h4 class="title"><a href="">Comodidad</a></h4>
                <p class="description">Podes acceder a nuestros productos por nuestro canal de venta online, o acercarte a nuestro Showroom en CABA. Realizamos envíos a todo el país a través de correo argentino. </p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/img/about-img.svg" class="img-fluid" alt="">
            </div>
          </div>
  
            
          </div>
  
        
      </section>
  
