<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Kyoto</h3>
            <p>Somos una marca de indumentaria platense apasionada por la cultura nipona y felina. <br>Conocé nuestros productos.</p> 
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#intro">Home</a></li>
              <li><a href="#about">Nosotros</a></li>
              <li><a href="#services">Servicios</a></li>
              <li><a href="#">Términos y Condiciones</a></li>
              <li><a href="#">Política de privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactanos</h4>
            <p>
              Corrientes 1820 (6°C / 6°D)  <br>
              CABA <br>
              Argentina <br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> kyotoremeras@gmail.com<br>
            </p>

            <div class="social-links">
              
              <a href="https://www.facebook.com/kyoto.remeras/" ><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/kyoto.remeras" ><i class="fa fa-instagram"></i></a>
              
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Suscribite a nuestro Newsletter</h4>
            <p>En Kyoto procuramos cada temporada acercarte las mejores promociones, y mejorar cada día nuestros productos acorde a las tendencias del momento.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Kyoto Remeras</strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Anteproyecto editado por el alumno  <a href="https://bootstrapmade.com/">Ignacio Marconi</a>
      </div>
    </div>
  </footer>
