<section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Nuestras prendas son <br><span>únicas</span></h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocé nuestra marca</a>
          <a href="#services" class="btn-services scrollto">Servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

