<section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Servicios</h3>
        <p>Descubrí nuestros productos, servicios y acciones. </p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Remeras y Buzos Sublimados</a></h4>
            <p class="description">Ofrecemos una amplia variedad de talles y motivos.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">Personalización de Estampas</a></h4>
            <p class="description">Podes solicitar un modelo único, gracias a que estampamos nuestras propias prendas.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Producción de Accesorios</a></h4>
            <p class="description">Además de indumentaria te acercamos otras opciones para completar tu look.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">Acción Social</a></h4>
            <p class="description">Parte de nuestros ingresos son destinados a apoyar refugios de mascotas. ¡Acerca tu donación!.</p>
          </div>
        </div>


      </div>

    </div>
  </section>
